./preprocess-cache/Caidas/model.safetensors
./preprocess-cache/models--caidas--swin2SR-realworld-sr-x4-64-bsrgan-psnr/blobs/4a5f52a20932085557ed115f87c0ee8385e12f2719108c0dfd38c64aedea4710
./example-dataset/arque-1024.zip
