diffusers==0.24.0
torch>=2.1.2
transformers==4.36.2
invisible-watermark==0.2.0
accelerate==0.25.0
pandas>=2.1.0
torchvision>=0.15.2
numpy>=1.25.1
fire>=0.5.0
opencv-python>=4.8.1.78
mediapipe>=0.10.2
tqdm
cv2